<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>
    <%= f.input :title %>
    <%= f.input :code %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
